:host {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

.layout {
    flex: 1;
    display: flex;
    overflow: hidden;
    position: relative;
}

app-main-content {
    flex-grow: 1;
    position: relative;
    overflow: hidden;
}