.body {
    position: fixed;
    top: 59px;
    left: 15rem;
    right: 0;
    bottom: 60px;
    background: #000713;
    padding: 3rem;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 100;
    margin: 0 !important;
}

.body-trimmed {
    left: 4rem;
}

@media (max-width: 768px) {
    .body {
        left: 0;
        padding: 1rem;
    }
}