:root {
    --x: 0;
    --y: 0;
    --xp: 0;
    --yp: 0;
    --hue: calc(45 + (var(--xp) * 20));
    --bg: #000713;
    --size: 100px;
    --glow: radial-gradient(50% 50% at center,
            hsl(var(--hue) 100% 85%),
            hsl(var(--hue) 100% 50%),
            transparent) calc((var(--x) * 1px) - (var(--size) * 0.5)) calc((var(--y) * 1px) - (var(--size) * 0.5)) / var(--size) var(--size) no-repeat fixed;
}

html,
body {
    background: #000713;
    margin: 0;
    min-height: 100%;
    width: 100vw;
    overflow-x: hidden;
}