<section>
    <div class="main-container">
        <div class="content">
            <h1>Somos <span>AmbatoDeveloper</span></h1>
            <div class="typewriter">
                Creamos: <span>{{ displayText() }}</span>
            </div>
            <p>Desarrollamos soluciones digitales de alta calidad, utilizando tecnologías
                robustas y a medida, como sitios web y aplicaciones móviles de alto rendimiento.
                Aplicamos metodologías ágiles, arquitectura modular y diseño centrado en el usuario para generar
                productos escalables, eficientes y con valor estratégico.
            </p>
        </div>
        <div class="image">
            <img src="desarrollando.png" alt="Imagen de presentación">
        </div>
    </div>
</section>